@import "./reset.scss";
@import "./post.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: red;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 50px;
}
.netflix {
  // width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  // background: black;
  // align-items: center;
}
.netflix__logo {
  height: 60%;
  margin: 0.58rem;
}
// .recherche__zone {
//   background-color: white;
//   width: 450px;
//   height: 5%;
//   border-radius: 10px;
//   // text-align: center;
//   // left: 100rem;
//   // margin: 0.3rem;
//   position: fixed;
//   // padding-right: 302px;
//   padding-left: 158px;
//   top: 7px;
//   margin-left: 576px;
// }
// .recherche__icone {
//   width: 31px;
//   height: 4%;
//   margin-left: 982px;
//   position: fixed;
//   top: 10px;
// }
// .menu {
//   // position: fixed;
//   //   // align-items: center;
//   cursor: pointer;
//   margin: 0.5rem 1rem;
// }

// .menu__text {
//   color: white;
//   font-size: 15px;
//   position: fixed;
//   // height: 7%;
//   //   cursor: pointer;
// }
// .menu__icone {
//   width: 24px;
//   height: 3%;
//   position: fixed;
//   // margin-left: 200px;
//   top: 7px;
//   // margin: 0.3rem;
//   //   cursor: pointer;
// }
.container {
  position: relative;
  margin: 60px 5px;
  width: 100%;
  padding: 40px 5px;
  color: white;
}
.container__titre {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 800;
}
.container__information {
  width: 60%;
  font-size: 40px;
  margin: 10px 5px;
}
.movie_list {
  width: 100%;
  height: 250px;
  margin-top: 40px;
  position: relative;
}
.movie_category {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: white;
}
.movie_container ::-webkit-scrollbar {
  display: none;
}
.movie_container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.pre_btn,
.next_btn {
  position: absolute;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5vw;
  background: black;
  border: none;
  outline: none;
  z-index: 6;
}
.movie {
  flex: 0 0 auto;
  width: 24%;
  height: 200px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.movie img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.movie p {
  text-transform: capitalize;
  height: 20px;
  overflow: hidden;
}
.pre_btn {
  left: -2.5vw;
}
.next_btn {
  right: -2.5vw;
}
.pre_btn img,
.next_btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  // z-index: 6;
}
