@import "./reset.scss";
@import "./post.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: black;
  align-items: center;
}
.logoNetflix {
  height: 60%;
}
